<app-header *ngIf="isRegularUser"></app-header>
<!-- Main content -->
<div flexLayout="row" fxFlex *ngIf="!isAdminLoggedIn">
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="isAdminLoggedIn">
  <app-admin></app-admin>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" *ngIf="isAdminLoggedIn">
    <div class="inner-adjust center-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer *ngIf="isRegularUser" flexLayout="column"></app-footer>